<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.school.ActionOrderMapper">
    <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.school.ActionOrder">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="action_desc" property="actionDesc" jdbcType="VARCHAR" />
        <result column="action_type" property="actionType" jdbcType="VARCHAR" />
        <result column="total_price" property="totalPrice" jdbcType="BIGINT" />
        <result column="distribution_price" property="distributionPrice" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="distributor_id" property="distributorId" jdbcType="VARCHAR" />
        <result column="extra_data1" property="extraData1" jdbcType="VARCHAR" />
        <result column="extra_data2" property="extraData2" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="paid_time" property="paidTime" jdbcType="BIGINT" />
        <result column="cancel_time" property="cancelTime" jdbcType="BIGINT" />
        <result column="finish_time" property="finishTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,status,action_desc,action_type,total_price,distribution_price,user_id,distributor_id,extra_data1,extra_data2,create_time,update_time,paid_time,cancel_time,finish_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from school.action_order
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from school.action_order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>

</mapper>