<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.school.BuyOrderMapper">
    <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.school.BuyOrder">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="order_id" property="orderId" jdbcType="BIGINT" />
        <result column="express_id" property="expressId" jdbcType="BIGINT" />
        <result column="trace_id" property="traceId" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="belong_canteen" property="belongCanteen" jdbcType="VARCHAR" />
        <result column="belong_seller" property="belongSeller" jdbcType="VARCHAR" />
        <result column="total_price" property="totalPrice" jdbcType="VARCHAR" />
        <result column="total_count" property="totalCount" jdbcType="VARCHAR" />
        <result column="distribution_price" property="distributionPrice" jdbcType="VARCHAR" />
        <result column="menu_id" property="menuId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="distributor_id" property="distributorId" jdbcType="VARCHAR" />
        <result column="extra_data1" property="extraData1" jdbcType="VARCHAR" />
        <result column="extra_data2" property="extraData2" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="paid_time" property="paidTime" jdbcType="BIGINT" />
        <result column="cancel_time" property="cancelTime" jdbcType="BIGINT" />
        <result column="finish_time" property="finishTime" jdbcType="BIGINT" />
        <result column="send_time" property="sendTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
          id,order_id,status,belong_canteen,belong_seller,total_price,distribution_price,menu_list,user_id,distributor_id,extra_data1,extra_data2,create_time,update_time,paid_time,cancel_time,finish_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from school.buy_order
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from school.buy_order
        where order_id = #{orderId,jdbcType=BIGINT AND user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectMainByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from school.buy_order
        where id = #{orderId,jdbcType=BIGINT} AND order_id = #{orderId,jdbcType=BIGINT AND user_id = #{userId,jdbcType=BIGINT}
    </select>

</mapper>